body {
  font-family: "Arial";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url("https://wallpapers.com/images/hd/vibrant-background-83hd9grwvm1wzcg0.jpg");
  background-size: cover;
  background-position: center;
}

.quote-container {
  text-align: center;
  background-color: #b0ccb046;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 300px;
}

h1 {
  font-size: 24px;
  color: #080808;
}

.quote {
  font-size: 20px;
  margin: 20px 0;
  font-style: italic;
  font-weight: bold;
}

#quote-author {
  margin-top: 10px;
  font-weight: bold;
  color: #0c0b0b;
}

button {
  padding: 10px 20px;
  background-color: #2b3270;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #69271e;
}
